
.screen {
    border: 2px solid black;
    
    width: 200px;
    height: 200px;

    .green {
        background-color: green;
    }
    .yellow {
        background-color: yellow;
    }
    .red {
        background-color: red;
    }
}




